DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=jumin
DB_USERNAME=jumin
DB_PASSWORD=jumin

# Naver Local Search API
LOCAL_SEARCH_CLIENT_ID=
LOCAL_SEARCH_CLIENT_SECRET=

# Naver Reverse Geocoding API
REVERSE_GEOCODING_CLIENT_ID=
REVERSE_GEOCODING_CLIENT_SECRET=
